aiofiles
aiohappyeyeballs
aiohttp
aiohttp-socks
aiosignal
attrs
cattrs
certifi
cffi
charset-normalizer
cryptography
flatbuffers
frozenlist
h11
h2
hpack
hyperframe
idna
jsonschema
jsonschema-specifications
Markdown
matrix-nio
multidict
numpy
openmeteo_requests
openmeteo_sdk
pandas
pillow
platformdirs
propcache
pycparser
pycryptodome
python-cryptography-fernet-wrapper
python-dateutil
python-dotenv
python-socks
pytz
referencing
requests
requests-cache
retry-requests
rpds-py
simplematrixbotlib
six
toml
tzdata
unpaddedbase64
url-normalize
urllib3
yarl
